<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="me.natejones.testtycho.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="me.natejones.testtycho.Perspective"
            id="TestEclipsePlugin01.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="me.natejones.testtycho.CalculatorView"
            id="TestEclipsePlugin01.view"
            name="Calculator">
      </view>
      <view
            class="me.natejones.testtycho.HistoryView"
            id="TestEclipsePlugin02.view"
            name="History"
            restorable="true">
      </view>
      <view
            class="me.natejones.testtycho.MiscView"
            id="TestEclipsePlugin03.view"
            name="Misc"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="false"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="TestEclipsePlugin03.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               id="editMenu"
               label="Edit">
            <command
                  commandId="me.natejones.testtycho.commands.Clear"
                  label="Clear"
                  tooltip="Clears the number field">
            </command>
            <command
                  commandId="me.natejones.testtycho.commands.NewCalc"
                  label="Open Calculator"
                  style="push"
                  tooltip="Opens the calculator">
            </command>
            <command
                  commandId="me.natejones.testtycho.commands.NewHistory"
                  label="Open History"
                  style="push"
                  tooltip="Opens the calculation history">
            </command>
            <command
                  commandId="me.natejones.testtycho.commands.OpenMisc"
                  label="Open Misc"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="TestEclipsePlugin01.application"
            name="TestEclipsePlugin01Product">
         <property
               name="appName"
               value="TestEclipsePlugin01Product">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="me.natejones.testtycho.commands.ClearHandler"
            id="me.natejones.testtycho.commands.Clear"
            name="Clear">
      </command>
      <command
            defaultHandler="me.natejones.testtycho.commands.NewCalcHandler"
            id="me.natejones.testtycho.commands.NewCalc"
            name="NewCalc">
      </command>
      <command
            defaultHandler="me.natejones.testtycho.commands.NewHistoryHandler"
            id="me.natejones.testtycho.commands.NewHistory"
            name="NewHistory">
      </command>
      <command
            defaultHandler="me.natejones.testtycho.commands.OpenMiscHandler"
            id="me.natejones.testtycho.commands.OpenMisc"
            name="OpenMisc">
      </command>
   </extension>

</plugin>
